{{!< author}}

{{#contentFor "links"}}
<a class="author-profile-social-link" href="https://bsky.app/profile/jessehouwing.net" title="Bluesky" target="_blank" rel="noopener me">{{> "icons/bsky"}}</a>
<a class="author-profile-social-link" href="https://www.instagram.com/jesse.houwing/" title="Instagram" target="_blank" rel="noopener me">{{> "icons/instagram"}}</a>
<a class="author-profile-social-link" href="https://github.com/sponsors/jessehouwing/" target="_blank" rel="noopener me">{{> "icons/heart"}}</a>
<a class="author-profile-social-link" href="https://hachyderm.io/@jessehouwing" target="_blank" rel="noopener me">{{> "icons/mastadon"}}</a>
<a class="author-profile-social-link" href="https://www.linkedin.com/in/jessehouwing/" target="_blank" rel="noopener me">{{> "icons/linkedin"}}</a>
<a class="author-profile-social-link" href="https://github.com/jessehouwing" target="_blank" rel="noopener me">{{> "icons/github"}}</a>
<a class="author-profile-social-link" href="https://stackoverflow.com/users/736079/jessehouwing" target="_blank" rel="noopener me">{{> "icons/stackoverflow"}}</a>
<a class="author-profile-social-link" href="https://mvp.microsoft.com/en-us/PublicProfile/5001511?fullName=Jesse%20Houwing" target="_blank" rel="noopener me">{{> "icons/mvp"}}</a>
{{/contentFor}}
