{{!< base-author}}

{{#contentFor "links"}}
  <span class="author-social-link"><a href="https://www.linkedin.com/in/jessehouwing/" target="_blank" rel="noopener">LinkedIn</a></span>
  <span class="author-social-link"><a href="https://github.com/jessehouwing" target="_blank" rel="noopener">GitHub</a></span>
  <span class="author-social-link"><a href="https://stackoverflow.com/users/736079/jessehouwing" target="_blank" rel="noopener">StackOverflow</a></span>
{{/contentFor}}