pool:
  name: Azure Pipelines
  vmImage: ubuntu-latest
  
variables:
  package.version: ''
  AGENT.USE.NODE10: 'true'

steps:
- task: SetValueFromJSON@0
  inputs:
    variableName: 'package.version'
    jsonPathExpression: '$.version'
    jsonFile: 'package.json'

- task: VariableSetTask@1
  inputs:
    VariableName: 'Build.BuildNumber'
    Value: '$(package.version)'
    IsSecret: false

- task: YarnInstaller@3
  inputs:
    versionSpec: '1.x'
    checkLatest: true

- task: Yarn@3
  inputs:
    arguments: 'install'
    projectDirectory:  $(Build.SourcesDirectory)

- task: Yarn@3
  inputs:
    arguments: 'zip'
    projectDirectory:  $(Build.SourcesDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: theme'
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)/dist/casper-jessehouwingnl-v3.zip'
    ArtifactName: theme
  condition: succeededOrFailed()

- task: Ghost@2
  inputs:
    version: '2x'
    blog: 'jessehouwing.net'
    theme: '$(Build.SourcesDirectory)/dist/casper-jessehouwingnl-v3.zip'
